<li>
  <a href="https://mastodon.vishnurajeevan.com/@vishnu" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-mastodon" aria-hidden="true"></i> Mastodon
  </a>
</li>

<li>
  <a href="https://twitter.com/vishnurajeevan/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
  </a>
</li>

<li>
  <a href="https://github.com/burntcookie90" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-github" aria-hidden="true"></i> Github
  </a>
</li>