<li>
  <a href="https://mastodon.vishnurajeevan.com/@vishnu" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-mastodon" aria-hidden="true"></i> Mastodon
  </a>
</li>

<li>
  <a href="https://www.instagram.com/burntcookie90/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fas fa-fw fa-camera" aria-hidden="true"></i> Instagram
  </a>
</li>


<li>
  <a href="https://hardcover.app/@vishnu?referrer_id=6463" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Hardcover
  </a>
</li>

<li>
  <a href="https://bsky.app/profile/vishnurajeevan.com" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-at" aria-hidden="true"></i> Bluesky
  </a>
</li>

<li>
  <a href="https://github.com/burntcookie90" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-github" aria-hidden="true"></i> Github
  </a>
</li>
